
/* 全てのmargin, paddingを0に */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: mplus-1c-regular;
}

/* login */
.login_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: calc((100vh - 550px) / 2);
}

.login_inner h1{
	font-size: 100px;
	margin-bottom: 100px;
}

.login_inner .logo{
	margin-bottom: 30px;
}

.login_inner form{
	width: 100%;
}

/* signup*/
.signup_inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: calc((100vh - 650px) / 2);
}

.signup_inner h1{
	font-size: 100px;
	margin-bottom: 100px;
}

.signup_inner .logo{
	margin-bottom: 30px;
}

.signup_inner form{
	width: 100%;
}

p{
    margin-top: 20px;
}

.form_inner{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-group{
	margin-bottom: 10px;
	width: 40%;
}

.form_inner input{
	font-family: FontAwesome;
}
