
.inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* slideshow */

#wrapper {
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    padding: 0px;
    margin: 0px auto;
}

input[type="radio"] {
    display: none;
}

#slideshow {
    position: relative;
    width: 100%;
}

.slideContents {
    position: relative;
    background: #A9A9A9;
    text-align: center;
    user-select: none;
}

.slideContents,
.slideContents section {
    width: 100%;
    height: auto;
}

.slideContents section {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(100%);
    transition: opacity .6s, transform .6s;
    margin-bottom: 50px;
}

.slideContents section img {
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    max-height: 450px;
    height: auto;
    padding: 0px 50px;
    vertical-align: middle;
}

/* slideshow mechanism */

#switch1:checked ~ #slideshow .slideContents #slide1,
#switch2:checked ~ #slideshow .slideContents #slide2,
#switch3:checked ~ #slideshow .slideContents #slide3,
#switch4:checked ~ #slideshow .slideContents #slide4,
#switch5:checked ~ #slideshow .slideContents #slide5 {
    z-index: 1;
    position: relative;
    transform: translateX(0);
}

#switch1:checked ~ #slideshow .slideContents #slide1,
#switch2:checked ~ #slideshow .slideContents #slide2,
#switch3:checked ~ #slideshow .slideContents #slide3,
#switch4:checked ~ #slideshow .slideContents #slide4,
#switch5:checked ~ #slideshow .slideContents #slide5 {
    opacity: 1;
}

#switch1:checked ~ #slideshow .slideContents #slide5,
#switch1:checked ~ #slideshow .slideContents #slide4,
#switch2:checked ~ #slideshow .slideContents #slide1,
#switch2:checked ~ #slideshow .slideContents #slide5,
#switch3:checked ~ #slideshow .slideContents #slide2,
#switch3:checked ~ #slideshow .slideContents #slide1,
#switch4:checked ~ #slideshow .slideContents #slide3,
#switch4:checked ~ #slideshow .slideContents #slide2,
#switch5:checked ~ #slideshow .slideContents #slide4,
#switch5:checked ~ #slideshow .slideContents #slide3 {
    transform: translateX(-100%);
}

#switch1:checked ~ #slideshow .slideContents #slide3,
#switch2:checked ~ #slideshow .slideContents #slide4,
#switch3:checked ~ #slideshow .slideContents #slide5,
#switch4:checked ~ #slideshow .slideContents #slide1,
#switch5:checked ~ #slideshow .slideContents #slide2,
#switch1:checked ~ #slideshow .slideContents #slide4,
#switch2:checked ~ #slideshow .slideContents #slide5,
#switch3:checked ~ #slideshow .slideContents #slide1,
#switch4:checked ~ #slideshow .slideContents #slide2,
#switch5:checked ~ #slideshow .slideContents #slide3 {
    transition-duration: 0s;
}

/* arrows */

.arrow,
.arrow label,
.arrow .ico {
    position: absolute;
}

.arrow {
    top: 0px;
    margin: 0px;
    transition: background .3s;
}


.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.arrow:hover {
    background: rgba(255,255,255,.2);
}

.arrow,
.arrow label {
    cursor: pointer;
    width: 50px;
    height: 100%;
}

.arrow label {
    top: 0px;
    left: 0px;
    z-index: 1;
}

.arrow .ico {
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    opacity: 0;
    transition: right .6s, left .6s, opacity .6s;
}

.arrow:hover .ico {
    opacity: .6;
    transition-duration: .3s;
}

.prev .ico {
    left: 60%;
    transform: rotate(-135deg);
}

.next .ico {
    right: 60%;
    transform: rotate(45deg);
}

.prev:hover .ico {
    left: 30%;
}

.next:hover .ico {
    right: 30%;
}

/* arrows mechanism */

.arrow label {
  pointer-events: none;
}

#switch1:checked ~ #slideshow .prev label[for="switch5"],
#switch2:checked ~ #slideshow .prev label[for="switch1"],
#switch3:checked ~ #slideshow .prev label[for="switch2"],
#switch4:checked ~ #slideshow .prev label[for="switch3"],
#switch5:checked ~ #slideshow .prev label[for="switch4"],

#switch1:checked ~ #slideshow .next label[for="switch2"],
#switch2:checked ~ #slideshow .next label[for="switch3"],
#switch3:checked ~ #slideshow .next label[for="switch4"],
#switch4:checked ~ #slideshow .next label[for="switch5"],
#switch5:checked ~ #slideshow .next label[for="switch1"] {
    pointer-events: auto;
}

/* description */

.description {
    width: 100%;
    max-width: 800px;
}

.description h1 {
    text-align: center;
    color: #000;
    font-family: 'Book Antiqua';
    border-top: 2px solid #A9A9A9;
    margin: 23px 0px 0px;
    padding: 0px;
    height: 24px;
    width: 100%;
}

h1 span {
    font-size: 50px;
    position: relative;
    top: -24px;
    padding: 0px 20px;
    background:white;
}

.description p {
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    padding: 50px 0px;
    color: #000;
}

.titlee {
    font-size: 40px;
}

.na {
    font-size: 30px;
}

.intro {
    font-size: 18px;
}

.button {
    position: relative;
    background-color: #CCC;
    border-radius: 4px;
    color: #EEE;
    line-height: 52px;
    transition: none;
    box-shadow: 0px 3px 0px #BBB;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
    width: 200px;
    margin-bottom: 20px;
}
.button:hover {
    background-color: #AAA;
    box-shadow: 0px 3px 0px #999;
}
.button:active {
    top: 3px;
    box-shadow: none;
}

.button:focus {
    outline: 0;
}

.modal-content {
    max-width: 598px;
    width: 100%;
    margin-top: calc((100vh - 250px) / 2);
}

.modal-body {
    display: flex;
    justify-content: center;
}

.money-form-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.money-form-body span {
    padding-left: 5px;
}
.money-form {
    width: 80%;
}
