
/* 全てのmargin, paddingを0に */

* {
    margin: 0;
    padding: 0;
}

a:visited {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

body {
    font-family: mplus-1c-regular;
}

/* 以下header部分*/

a.logo-around {
    padding: 0px 30px;
}

img#logo {
    width:70px;
    height:50px;
}
li.menu-list {
    padding-right: 30px;
}

li#user-info {
    line-height:20px;
    padding: 15px;
}

li#log-info {
    padding-right: 15px;
}

/* 以下container部分*/

.container {
	display: flex;
	justify-content: center;
    padding-top: 60px;
}

.inner {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 10px;
	max-width: 1110px;
    padding: 50px 0px 20px 0px;
}

.content-around {
	margin: 0px 30px 45px 30px;
    padding: 5px;
}

.content:hover {
	background-color: grey;
	border-radius: 10px;
	transition: 0.4s;
}

.content img {
	width: 300px;
	height: 200px;
	border-radius: 10px;
}

.content h2 {
	text-align: center;
	font-size: 24px;
}

.content p {
	text-align: center;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

/* 以下timelines部分 */

.nc-inner {
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    padding: calc((100vh - 322px) / 2) 0px;
}

img.no-content {
    width: 600px;
    height: 166px;
}

.tl-inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
    max-width: 960px;
    padding: 20px 0px;
}

.tl-content {
    padding: 30px;
    width: 100%;
}

.tl-content:not(:nth-child(1)) {
    border-top: 1px solid #222;
}

img.tl-icon {
    height: 79px;
    border-radius: 10px;
}

.tl-name {
    line-height: normal;
    font-size: 20px;
}

.tl-text {
    padding: 20px 0px;
}

p.tl-title {
    font-size: 24px;
}

p.tl-message {
    font-size: 18px;
}

.tl-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.tl-img {
    width: 400px;
    height: 300px;
}

.tl-footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 0px;
}

/* 以下footer部分 */

.footer {
    background-color: #ad93db;
    clear: both;
    height: 60px;
    margin-top: 36px;
}

.footer-item {
    width: 33%;
    float: left;
    text-align: center;
}

.footer-item h3,
.footer-item p,
.footer-item a {
    color: #fff;
}

.copyright {
    display: block;
    padding: 20px;
    background-color: #ad93db;
    color: #fff;
    clear: both;
    text-align: center;
}
.copyright a:visited {
    color: #fff;
    text-decoration: none;
}
